# {{ ansible_managed }}

server {
  listen 80;

  location /content/ {
    alias /opt/graphite/webapp/content/;
  }

  location / {
    proxy_set_header X-Forwarded-Host  $server_name;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_pass                         http://localhost:{{ uwsgi_port | default(8000) }};
  }
}
