# {{ ansible_managed }}

[nginx]
name=nginx repo
{% if repo.old -%}
baseurl=http://nginx.org/packages/old/centos/$releasever/$basearch/
{% else -%}
baseurl=http://nginx.org/packages/centos/$releasever/$basearch/
{% end -%}
gpgcheck=0
enabled=1
