# {{ ansible_managed }}

server {
  listen              {{ listen | default(443) }};
  ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers         {{tls.ciphers.enabled|join(':')}}:!{{tls.ciphers.disabled|join(':!')}};
  ssl_certificate     {{ ssl_cert }};
  ssl_certificate_key {{ ssl_key }};

  location / {
    proxy_set_header X-Forwarded-Host  $server_name;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_pass                         http://localhost:80;
  }
}
