apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${ca_certificate}
    server: ${endpoint}
  name: ${cluster_name}
contexts:
- context:
    cluster: ${cluster_name}
    user: ${user}
  name: ${cluster_name}
current-context: ${cluster_name}
kind: Config
preferences: {}
users:
- name: ${user}
  user:
    %{if client_token != ""}
    token: ${client_token}
    %{else}
    client-certificate-data: ${client_certificate_data}
    client-key-data: ${client_key_data}
    %{endif}